// Định nghĩa bảng màu Lẩu Ếch cao cấp
$primary-gold: #c5a059; // Màu vàng kim giống Laurent
$accent-orange: #d9480f; // Màu đỏ cam của ớt và lẩu
$bg-dark: #111111; // Nền đen sâu
$text-light: #f4f4f2;

:root {
  background-color: $bg-dark;
  color: $text-light;
  font-family: 'Playfair Display', serif; // Font chữ tiêu đề sang trọng
}

body {
  margin: 0;
  overflow-x: hidden;
}
